* {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.restaurant-image {
  width: 20%;
  height:20%;
}

.map{
  height:500px;
}

.picture{
  width:15%;
  height:15%;
  border: red;
  border-radius: 13em/3em;
  border-style: double;
}

.homepage {
  background-image: url('../../images/taps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login {
  background-image: url('../../images/alcohol-beer-beverage-418225.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.group-page {
  background-image: url('../../images/cold-liquid-wine-glass-bar-beverage-1390230-pxhere.com.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.groupcard {
  background-color: rgba(189, 195, 199, 0.3);
  width: 500px;
  padding: 1em;
  margin: 1em;
  position: relative;
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friend-box {
  display:flex;
  margin:0 auto;

  /* background-image: url("../../images/cafe-glass-beverage-drink-bottle-beer-773673-pxhere.com.jpg");
  background-size:contain; */
}

#trash {
  position: absolute;
  top: 0;
  right: 0;
}

.pending-friend-box {
  padding:30px;
}

.accepted-friend-box {
  padding:30px;
}

.friend-box img {
  width:150px;
  height:auto;
  display:block;
  margin:0 auto;
}

.friend-box > div {
  width: 33%;
  padding:20px;
  /* background-color: rgba(255,255,255, .8);
  height: 100vh; */
}

.friend-box .friendlist-box {
  display:flex;
  width: 66.666666%;
  padding:20px;
  /* background-color: rgba(255,255,255, .8);
  height: 100vh; */
}

.all-users {
margin-top: 5px;
margin-bottom: 15px;
padding:40px;
}


.bar-box .bar-containers {
  display: flex;

}

.all-bars-box, .my-bars-box {
  height: 70vh;
  overflow-y: scroll;
}

.profile {
  font-size: 175%;
  font-weight: light;
}

#profile-name{
  font-size:250%;
  color:black;
  font-weight: bolder;
}

.profile-page {
  background-image: url("../../images/cafe-glass-beverage-drink-bottle-beer-773673-pxhere.com.jpg");
  background-size: cover;
  background-position: center;
  height: 450vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.profile-page-overlay {
  background-color: rgba(255,255,255, .85);
  height: 450vh;
  overflow: hidden;
}

.loginform {
  padding:40px;
}

.profile-page .card {
  background-color: transparent;
}

.homepagelink {
  padding-right: 9px;
  font-size: 16px;
  color: white;
}

.homepagetitle {
  font-size: 25px;
  float:left;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
}
