.Homepage {
  position: fixed;
  /* top: -25%; */
  left: -50%;
  width: 200%;
  height: 200%;

}

.Homepage img {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 min-width: 20%;
 min-height: 20%;
 z-index: -20;
 max-width: 100%;
 max-height: 100%;
 image-resolution:snap;
}
